<!-- 1. Brain Surgeons -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Brain Surgeons team icon" src="images/v2/competition/elimination/team-icons/brain-surgeons-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Brain Surgeons team logo" src="images/v2/competition/elimination/team-logos/brain-surgeons-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 2. Conspiracy Theorists -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Conspiracy Theorists team icon" src="images/v2/competition/elimination/team-icons/conspiracy-theorists-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Conspiracy Theorists team logo" src="images/v2/competition/elimination/team-logos/conspiracy-theorists-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 3. Inanimate Objects -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Inanimate Objects team icon" src="images/v2/competition/elimination/team-icons/inanimate-objects-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Inanimate Objects team logo" src="images/v2/competition/elimination/team-logos/inanimate-objects-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 4. Gold Dust -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Gold Dust team icon" src="images/v2/competition/elimination/team-icons/gold-dust-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Gold Dust team logo" src="images/v2/competition/elimination/team-logos/gold-dust-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 5. Reptilians -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Reptilians team icon" src="images/v2/competition/elimination/team-icons/reptilians-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Reptilians team logo" src="images/v2/competition/elimination/team-logos/reptilians-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 6. Rocket Scientists -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Rocket Scientists team icon" src="images/v2/competition/elimination/team-icons/rocket-scientists-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Rocket Scientists team logo" src="images/v2/competition/elimination/team-logos/rocket-scientists-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 7. Sticks and Stones -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Sticks and Stones team icon" src="images/v2/competition/elimination/team-icons/sticks-and-stones-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Sticks and Stones team logo" src="images/v2/competition/elimination/team-logos/sticks-and-stones-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 8. APEX -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="APEX team icon" src="images/v2/competition/elimination/team-icons/apex-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="APEX team logo" src="images/v2/competition/elimination/team-logos/apex-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 9. Touching Grass -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Touching Grass team icon" src="images/v2/competition/elimination/team-icons/touching-grass-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Touching Grass team logo" src="images/v2/competition/elimination/team-logos/touching-grass-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 10. Nine Lives -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Nine Lives team icon" src="images/v2/competition/elimination/team-icons/nine-lives-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Nine Lives team logo" src="images/v2/competition/elimination/team-logos/nine-lives-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 11. High Voltage -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="High Voltage team icon" src="images/v2/competition/elimination/team-icons/high-voltage-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="High Voltage team logo" src="images/v2/competition/elimination/team-logos/high-voltage-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>

  <!-- 12. Loose Cannons -->
  <div class="teamContent___ggCtF">
    <div class="teamIcon___cALuv teamIcon___Ya2ZP">
      <img alt="Loose Cannons team icon" src="images/v2/competition/elimination/team-icons/loose-cannons-dark.svg">
    </div>
    <div class="teamLogo___Epd9l">
      <img alt="Loose Cannons team logo" src="images/v2/competition/elimination/team-logos/loose-cannons-desktop-dark.svg">
    </div>
    <div class="arrowsContainer___PWtfD"></div>
  </div>